.D_data{
    background-image: url('../asset/service.jpg');
    background-size: cover;
    background-repeat: repeat;
    font-family: cursive;
    font-weight: bold;
}
.D_image{
    max-width: 1000px;
    box-shadow: 20px 20px 10px grey;
}